body {
    background-color: black;
    font-family: "Monaco", sans-serif
}

#headers a {
    font-size: 0.5em;
    color: white;
    text-decoration: none;
    padding: 0px;
}

p {
    font-size: 1em;
    color: white;
    text-align: left;
    padding: 5px;
    line-height: 1.8;
}

#extra {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}